@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 33 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 30% 93%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 60 30% 93%;
    --muted-foreground: 224 71.4% 41.1%;
    --accent: 197 71% 73%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 88%;
    --input: 60 30% 88%;
    --ring: 33 100% 50%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;
    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 33 100% 50%;
    --primary-foreground: 222 47% 11%;
    --secondary: 222 47% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 47% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 197 71% 73%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 18%;
    --input: 222 47% 18%;
    --ring: 33 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
